@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
}

:root {
  /* Premium Dark Theme */
  --background: #0b0e14; /* Deep, almost black blue */
  --foreground: #f1f5f9; /* Off-white */

  --surface: #151b25; /* Slightly lighter for cards */

  --primary: #6366f1; /* Indigo 500 */
  --secondary: #06b6d4; /* Cyan 500 */
  --accent: #f43f5e; /* Rose 500 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
